* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
#canvas1 {
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  height: 100%;
  overflow: visible;
  width: 100%;
}
.action-btn {
  border: 1px solid rgb(51, 204, 204);
  color: rgb(51, 204, 204);
  background-color: white;
  width: 80px;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 20px;
  font-size: 27px;
}
#visuals {
  margin-top: 60px;
  width: 92%;
  height: 40%;
  margin-left: 7%;
}
#controls {
  text-align: center;
  border: 1px solid red;
  margin-top: 40px;
}
